$center
  center($mainWidth, pad: 20px)

//////////////////////////////////////////
// ABOUT SECTION

.b-about
  @extend $center
  &__list
    span(1/2, offset: 1/2)
  &__item
    cf()
    margin-bottom 20px
  &__icon
    float left
    background: #99b32f;
    border-radius: 40px;
    width 80px
    height 80px
    &.-ico1::before
      content '1'
    &.-ico2::before
      content '2'
    &.-ico3::before
      content '3'

  &__content
    float left
    margin-left 4%
    width 80%

  &__title
    margin 0

// END ///////////////////////////////////
