@import '../common/placeholders'

//////////////////////////////////////////
// CERTIFICATES SECTION

.b-certificates
  text-align center
  @extend $center
  &__heading
    text-align center
  &__lead
    text-align center
  //&__list
  &__item
    col(1/4, cycle:4)

// END ///////////////////////////////////
