@import '../common/placeholders'

//////////////////////////////////////////
// REVIEWS SECTION

.b-reviews
  @extend $center
  &__list
    cf()

.b-review
  text-align center
  &__image
  &__name
  &__content
  &__infoList
    cf()
  &__infoItem
    display inline-block
    margin-right 20px
    &:last-child
      margin-right 0
    &.-person::before
      content '1'
    &.-location::before
      content '1'

// END ///////////////////////////////////
