doctype html
html(lang="ru-RU")
  head
    meta(charset='utf-8')
    title Noskov.net.ru
    meta(name="description" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=1080")
    link(rel='stylesheet', href="./css/style.css") 
    script(src="javascripts/vendor/modernizr-2.8.3.min.js")
    | <!--[if lt IE 9]>
    |   <script src="javascripts/vendor/selectivizr-1.0.3b.min.js"></script>
    |   <script src="javascripts/vendor/respond-1.4.2.min.js"></script>
    |   <script src="javascripts/vendor/calc.min.js"></script>
    | <![endif]-->
    <!-- Google maps -->
    script(src="http://maps.google.com/maps/api/js?sensor=false")
  body
    | <!--[if IE]>
    |  <div class="browsehappy">
    |    <p>
    |      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
    |    </p>
    |  </div>
    | <![endif]-->

    block content

    .mfp-hide.white-popup(id="js-contactForm", title="Бесплатная консультация")
      form.modal-form.js-form-modal
        p.white-popup__text Отправить заявку
        fieldset
          input(type="text" id="ContactForm_name" name="name" placeholder="Ваше имя" required="required")
          input(type="tel" name="phone" placeholder="Ваш телефон" required="required") 
          button.b-btn.-medium Купить

    script(src="javascripts/main.js")
    //- script(src="dev/jquery.pixlayout.0.9.7.js")
    
    block script
