@import 'base/base'

//////////////////////////////////////////
// COMMON

.b-heading
  position relative
  uppercase()
  font-weight bold
  font-size em(30px)
  &.-main
    margin 0
    font-size em(45px)
    line-height 1
  &.-main &__part
      display inline-block
      padding 13px 15px 10px 15px
      background-color #fff
      &:first-child
        padding-bottom 0

  &.-line::after
    align(h)
    content ''
    bottom -7px
    width 80px
    border-bottom 1px solid rgba(0,0,0,.2)

.b-btn
  uppercase()
  background-color #e63c3d
  color #fff
  font-weight bold
  font-family 'Arial', sans-serif
  // word-spacing 1px
  border none
  border-radius 999px
  text-shadow 1px 1px 3px rgba(0,0,0,.2)
  &:hover
    background-color lighten(@background-color, 15%)
  &:focus
    background-color lighten(@background-color, -10%)
    box-shadow inset 0px 5px 10px 1px rgba(0,0,0,.2)
  &.-small
    padding 13px 25px
    font-size em(14px)
  &.-lg
    padding 21px 55px
    font-size em(20px)
    font-weight bold
  &.-medium
    padding 15px 40px
    min-width 250px
    font-size em(18px)
    font-weight bold
  &.-fullWidth
    width 100%

// END ///////////////////////////////////

//////////////////////////////////////////
// HEADER SECTION

.b-header
  position relative
  min-height 74px
  @extend $center
  &__logo
    position absolute
    top 20px
    left 20px
  &__contacts
    position absolute
    top 20px
    right 23.4%
  &__btn
    position absolute
    top 23px
    right 20px

.b-logo
  &__link
    color #000
    font-weight bold
    text-decoration none
  &__content
    font-size em(16px)
    margin 0
    line-height 1.25
  &__main
    uppercase()
    font-size em(30px)
    font-weight bold
  &__description
    display block
    color #999
    font-size em(15px)
    font-weight 300

.b-phone
  position relative
  font-size em(26px)
  line-height 1.3
  font-weight bold
  &::before
    position absolute
    display block
    content ''

  ///////////////// MODIFIER
  &.-bigIcon::before
    top 7px
    left -47px
    width image-width('../icons/phone-big-icon.png')
    height image-height('../icons/phone-big-icon.png')
    background-image eurl('../icons/phone-big-icon.png')
    background-repeat no-repeat
  ///////////////// END
  ///////////////// MODIFIER
  &.-smallIcon
    margin-left 14px
    padding-left 25px
  &.-smallIcon::before
    top -2px
    left 0px
    width image-width('../icons/phone-small-icon.png')
    height image-height('../icons/phone-small-icon.png')
    background-image eurl('../icons/phone-small-icon.png')
    background-repeat no-repeat
  ///////////////// END

.b-free
  display block
  line-height 1
  color #999
  font-size em(15px)

// END ///////////////////////////////////

//////////////////////////////////////////
// MAIN SECTION

.l-main
  background url('../images/bg-main.jpg') no-repeat
  background-position 50% 0
.b-main
  position relative
  min-height image-height('../images/box-big.png') + 20px
  @extend $center
  &::before
    position absolute
    top 34px
    left -200px
    display block
    content ''
    width image-width('../images/box-big.png')
    height image-height('../images/box-big.png')
    z-index 1
    background-image eurl('../images/box-big.png')
    background-repeat no-repeat
  &__content
    float right
    width ($mainWidth/2 + 47px)
    padding 145px 0 30px
    background-image eurl('../images/icons/purse.png')
    background-repeat no-repeat
    background-size 27%
    background-position bottom 60px right
  &__lead
    uppercase()
    margin 5px 0
    font-size em(17px)
  &__description
    margin 43px 20px 0
    line-height 1.55
    font-size em(18px)
  &__btn
    margin 26px 20px 0

// END ///////////////////////////////////

//////////////////////////////////////////
// BENEFITS SECTION

.b-benefits
  @extend $center
  margin-bottom 30px
  &__heading
    text-align center
  &__list
    margin-top 130px
    cf()
  &__item
    col(1/3, cycle:3, gutter: 6.5)
    min-height 190px
    margin-bottom 60px

.b-benefit
  position relative
  text-align center
  padding 50px 30px 10px
  min-height 200px
  font-size em(14px)
  background-color #f0e6da
  &__heading
    uppercase()
    font-family 'Arial', sans-serif
    font-size em(18px)
    font-weight bold
  &__description
    padding-top 10px
  &::before
    align(h)
    top -72px
    content ''
    width 125px
    height 125px
    background-color #c69c6c
    background-repeat no-repeat
    background-position 50% 50%
    border 7px solid #fff
    border-radius (@width/2)
  &.-icon1::before
    background-image eurl('../icons/icon1.png')
  &.-icon2::before
    background-image eurl('../icons/icon2.png')
  &.-icon3::before
    background-image eurl('../icons/icon3.png')
  &.-icon4::before
    background-image eurl('../icons/icon4.png')
  &.-icon5::before
    background-image eurl('../icons/icon5.png')
  &.-icon6::before
    background-image eurl('../icons/icon6.png')

// END ///////////////////////////////////

//////////////////////////////////////////
// CERTIFICATES SECTION

.l-certificates
  background url('../images/bg-certificates.jpg') no-repeat
  background-position 50% 0
  height image-height('../images/bg-certificates.jpg')

.b-certificates
  padding 135px 0 50px
  text-align center
  @extend $center
  &__heading
    text-align center
  &__lead
    uppercase()
    font-size em(15px)
    text-align center
  &__list
    cf()
    margin 50px 0 30px
  &__item
    col(1/3, cycle:3)
  &__btn
    margin-top 15px

// END ///////////////////////////////////

//////////////////////////////////////////
// ABOUT SECTION

.l-about
  position relative
  background url('../images/bg-about.jpg') no-repeat bottom left -50px,
             url('../images/bg-about-x.jpg') repeat-x bottom left

  +below(1600px)
    background url('../images/bg-about.jpg') no-repeat bottom left -300px,
               url('../images/bg-about-x.jpg') repeat-x bottom left

.b-about
  padding-bottom 90px
  @extend $center
  &__list
    span(1/2, offset: 1/2)
    margin-top 60px
  &__title
    uppercase()
    font-size em(16px)
    font-family 'Arial', sans-serif
    font-weight bold
    margin 0
  &__description
    margin-top 5px
    font-size em(14px)
  &__item
    position relative
    padding-left 88px
    // cf()
    margin-bottom 28px
    min-height 70px
    &::before
      position absolute
      top -3px
      left 0
      display inline-block
      content ''
      width 64px
      height 64px
      background #c69c6c
      background-repeat no-repeat
      background-position 50% 50%
      border-radius (@width/2)
    ///////////////// MODIFIERS
    &.-eco::before
      background-image eurl('../icons/eco.png')
    &.-wave::before
      background-image eurl('../icons/wave.png')
    &.-leaf::before
      background-image eurl('../icons/leaf.png')
    &.-mushroom::before
      background-image eurl('../icons/mushroom.png')
    &.-silk::before
      background-image eurl('../icons/silk.png')
    &.-clock::before
      background-image eurl('../icons/clock.png')
    &.-palette::before
      background-image eurl('../icons/palette.png')
    ///////////////// END

  &__content
    float left
    margin-left 4%
    width 80%

  &__title
    margin 0

// END ///////////////////////////////////

//////////////////////////////////////////
// GIFT SECTION

.l-gift
  position relative
  top -110px
  margin-bottom -110px

  height image-height('../images/bg-gift.png')
  background url('../images/bg-gift.png') no-repeat
  background-position 50% 0

.b-gift
  position relative
  z-index 100
  @extend $center
  text-align center
  padding-top 100px
  &__list
    cf()
    margin 50px 0 40px
    text-align center
  &__item
    position relative
    col(1/3, cycle:3)
    font-weight bold
    font-family 'Arial', sans-serif
    uppercase()
    line-height 1.4
    padding-top 120px
    &::before
      align(h)
      top 0
      content ''
      width 85px
      height 85px
      background-color #000
      background-repeat no-repeat
      background-position 50% 50%
      border-radius (@width/2)
    &.-person::before
      background-image eurl('../icons/person.png')
    &.-box::before
      background-image eurl('../icons/box.png')
    &.-car::before
      background-image eurl('../icons/car.png')

  &__form
    margin-top image-height('../images/gift.png') - 110px

.b-giftLead
  position relative
  background-color #f0e6da
  padding 65px 20px 45px
  z-index -101
  &__description
    font-size em(18px)
  &::before
    position absolute
    top -1*image-height('../images/gift.png') + 50px
    left -30px
    display block
    content ''
    z-index -100
    width 100%
    height image-height('../images/gift.png')
    background-image eurl('../images/gift.png')
    background-repeat no-repeat
    background-position 120px 0px


.b-giftForm
  &__input
    margin-right 10px
    padding 10px 0 10px 24px
    border-radius 999px
    border none
    outline none

// END ///////////////////////////////////

//////////////////////////////////////////
// CATALOG SECTION

.b-catalog
  @extend $center
  text-align center
  &__list
    cf()
    text-align center
    margin-top 70px
  &__item
    col(1/3, cycle:3)

.b-product
  border 1px solid #dfdfdf
  padding-bottom 20px
  &__title
    margin 0
    background-color #c69c6c
    padding 20px 10px 10px
    height 86px
    font-size em(19px)
    font-family 'Arial', sans-serif
  &__description
    display block
    font-weight 400
    font-size em(16px, 19px)
  &__imageContainer
    position relative
    margin 20px 0 13px
    width 100%
    min-height image-height('../images/box.png')
    &.-offer::after
      position absolute
      top 0
      right -20px
      content ''
      width image-width('../icons/offer.png')
      height image-height('../icons/offer.png')
      background-image eurl('../icons/offer.png')
  &__image
    margin-left -60px

  &__material
    font-size em(18px)
  &__priceContainer
    margin-top 20px
    background-color #f0e6da
    padding 10px 10px
  &__priceFull
    font-weight bold
    font-size em(26px)
    line-height 1.6
  &__oldPrice
    color #a8a198
    padding-right 5px
    text-decoration line-through
  &__giftContainer
    margin-top 10px
    padding 20px 20px 5px
    line-height 1.5
    text-align left
    min-height image-height('../icons/purse-mini.png') + 10px
    &.-grid
      background eurl('../icons/grid.png') no-repeat top 10px right 30px
    &.-purse
      background eurl('../icons/purse-mini.png') no-repeat top 10px right 30px
  &__btn
    margin-top 18px

// END ///////////////////////////////////

//////////////////////////////////////////
// HOW_WE_WORK SECTION

.b-howWeWork
  @extend $center
  padding 80px 0 30px
  text-align center
  &__btn
    margin-top 20px
  &__listContainer
    margin-top 90px
    margin-bottom 30px
  &__list
    cf()
    &.-end
      margin-top 20px
      center(45%)
      .b-howWeWork__item
        col(1/2, gutter: 22)
        &:first-child::after
          width image-width('../icons/arrow-left.png')
          height image-height('../icons/arrow-left.png')
          background-image eurl('../icons/arrow-left.png')
        &:last-child::after
          position absolute
          top 20px
          right -70px
          background-repeat no-repeat
          width image-width('../icons/arrow-big.png')
          height image-height('../icons/arrow-big.png')
          background-image eurl('../icons/arrow-big.png')
          top 0

  &__item
    position relative
    col(1/4, cycle: 4, gutter: 8)
    padding-top 100px
    line-height 1.3
    &::before
      align(h)
      top 0
      content ''
      width 90px
      height 90px
      background-color #c69c6c
      border-radius (@width/2)
      background-repeat no-repeat
      background-position 50% 50%
    &.-pen::before
      background-image eurl('../icons/pen.png')
    &.-clock::before
      background-image eurl('../icons/clock-black.png')
    &.-list::before
      background-image eurl('../icons/list.png')
    &.-car::before
      background-image eurl('../icons/car-black.png')
    &.-thumb::before
      background-image eurl('../icons/thumb.png')
    &.-smile::before
      background-image eurl('../icons/smile.png')

    &:not(:last-child)::after
      position absolute
      top 20px
      right -70px
      background-repeat no-repeat
      width image-width('../icons/arrow-left.png')
      height image-height('../icons/arrow-left.png')
      background-image eurl('../icons/arrow-right.png')


// END ///////////////////////////////////

//////////////////////////////////////////
// REVIEWS SECTION

.l-reviews
  position relative
  z-index 102
  background url('../images/bg-reviews.png') no-repeat
  background-position 50% 0
  height image-height('../images/bg-reviews.png')
.b-reviews
  position relative
  padding 115px 0 50px
  text-align center
  @extend $center
  &__list
    cf()

.js-reviews
  &__ctrlPrev
    position absolute
    top 50px
    left 50px
  &__ctrlNext
    position absolute
    top 50px
    right 50px
  &__pagination
    margin-top 50px
    center(200px)
  &__itemCtrl
    display inline-block
    margin-right 20px
    &:last-child
      margin-right 0
    &.-active .b-icon
      background-color #000
    &.-active .b-icon:hover
      background-color #000


.b-icon
  display block
  &.-prev
    background eurl('../icons/left-ctrl.png') no-repeat
    width image-width('../icons/left-ctrl.png')
    height image-height('../icons/left-ctrl.png')
    &:hover
      background eurl('../icons/left-ctrl-hover.png') no-repeat
  &.-next
    background-image eurl('../icons/right-ctrl.png')
    width image-width('../icons/right-ctrl.png')
    height image-height('../icons/right-ctrl.png')
    &:hover
      background eurl('../icons/right-ctrl-hover.png') no-repeat
  &.-circle
    width 20px
    height 20px
    background-color #fff
    border-radius 10px
    &:hover
      background-color #ccc

.b-review
  text-align center
  &__imageContainer
    margin 15px auto 25px
    width image-width('../images/pers1.jpg') + 10px
    height image-height('../images/pers1.jpg') + 10px
  &__image
    border 5px solid #fff
    border-radius 999px
  &__name
    font-weight bold
    font-size em(18px)
    uppercase()
  &__content
    font-size em(18px)
    font-weight 500
  &__infoList
    cf()
    font-weight 500
  &__infoItem
    position relative
    display inline-block
    margin-right 50px
    padding-left 25px
    &:last-child
      margin-right 0
    &::before
      position absolute
      top 0
      display block
      content ''
    &.-person::before
      left 0
      width image-width('../icons/icon-human.png')
      height image-height('../icons/icon-human.png')
      background eurl('../icons/icon-human.png') no-repeat
    &.-location::before
      top 2px
      left 0
      width image-width('../icons/icon-place.png')
      height image-height('../icons/icon-place.png')
      background eurl('../icons/icon-place.png') no-repeat

// END ///////////////////////////////////

//////////////////////////////////////////
// MAP SECTION

.l-map
  position relative
  top -100px
  z-index 101
  margin-bottom -100px

// END ///////////////////////////////////

//////////////////////////////////////////
// OFFER SECTION

.b-offer
  @extend $center
  &__left
    span(.34)
  &__right
    span(.66)

.b-contacts
  position relative
  text-align center
  padding 150px 20px 40px
  background-color #c69c6c
  &::before
    align(h)
    top 40px
    content ''
    width 80px
    height 80px
    background-color #fff
    background-image eurl('../icons/contacts.png')
    background-repeat no-repeat
    background-position 50% 50%
    border-radius (@width/2)
  &__address
    display block
  &__phone
    display block
    margin 30px 0
    font-size em(24px)
    font-family "Arial", sans-serif
    font-weight bold

  &__inn
    text-align center
  &__item
    line-height 1.35

.b-offerMain
  background-image eurl('../images/icons/purse.png')
  background-repeat no-repeat
  background-position bottom 10px right
  padding 100px 20px 20px 80px
  &__description
    font-size em(18px)
  &__form
    margin-top 30px
    width 220px

.b-offerForm
  text-align center
  &__input
    display block
    margin-bottom 15px
    padding 12px 0 12px 22px
    width 100%
    border-radius 999px
    border 1px solid #ccc
    outline none

// END ///////////////////////////////////

//////////////////////////////////////////
// FOOTER SECTION

.l-footer
  background-color #000
  min-height 100px
.b-footer
  position relative
  @extend $center
  &__copyright
    position absolute
    top 40px
    left 20px
    color #999
  &__policy
    position absolute
    top 40px
    right 20px
  &__link
    color #999

// END ///////////////////////////////////
