@import 'jeet'
@import 'config'
@import '../common/mixins'

@import '../../../bower_components/normalize-css/normalize.css'
@import '../../node_modules/magnific-popup/dist/magnific-popup.css'
@import '../common/mp'
@import '../common/jcarousel'

@import '../common/placeholders'
// edit()

font-face( "Raleway", "../fonts/raleway-regular-webfont", weight: normal, style: normal)
font-face( "Raleway", "../fonts/raleway-black-webfont", weight: bold, style: normal)
font-face( "Raleway", "../fonts/raleway-medium-webfont", weight: 500, style: normal)
font-face( "Raleway", "../fonts/raleway-light-webfont", weight: 300, style: normal)

html
  box-sizing border-box
  min-width 1080px
  overflow: auto !important;
  margin-right: 0 !important;

body
  background-color #fff
  font-family: 'Raleway', sans-serif;

*,
*:before,
*:after
  box-sizing inherit

ul
  padding 0
  margin 0
  list-style-type none

hr
  background none
  border none
  border-bottom 1px solid #957759
