extends layouts/application.jade
include helpers/common.jade

block content
  //-/////////////////////////////////////////////////
  
  header.l-header
    .b-header
      .b-header__logo.b-logo
        a.b-logo__link(href="/")
          .b-logo__content
            span.b-logo__main Noskov.net.ru
            span.b-logo__description Натуральные бамбуковые носки
            
      .b-header__contacts
        span.b-phone.-bigIcon 8 800 333 09 76
        span.b-free Звонок бесплатный
        
      button.b-header__btn.b-btn.-small.js-popup(data-mfp-src="#js-contactForm") Обратный звонок
  
  //-/////////////////////////////////////////////////
  
  section.l-main
    .b-main
      .b-main__content
        p.b-main__lead Избавь себя от проблемы поиска второго носка
        h1.b-main__heading.b-heading.-main <span class="b-heading__part">Годовой запас</span> <span class="b-heading__part">бамбуковых носков</span>
        p.b-main__lead С доставкой по всей России и оплатой при получении
        hr
        p.b-main__description При покупке кейса носков <strong>сейчас</strong> каждый<br/> получает в подарок портмоне Billy!
        button.b-main__btn.b-btn.-lg.js-popup(data-mfp-src="#js-contactForm") Купить со скидкой 20%
          
  //-/////////////////////////////////////////////////
  
  section.l-benefirs
    .b-benefits
      h2.b-benefits__heading.b-heading Наши преимущества
      .b-benefits__list
      
        +b-benefit('icon1', 'Контроль качества', 'БУДЬТЕ ОСТОРОЖНЫ! Старайтесь не покупать дешевые носки - они быстро изнашиваются')
        +b-benefit('icon2', 'Гарантия возврата', '14 дней на возврат без объяснения причины')
        +b-benefit('icon3', 'Доставка за 1 день', 'Завтра кейс уже будет у вас для Питера и Москвы. 1-7 дней доставка в регионы БЕЗ предоплаты')
        +b-benefit('icon4', 'Качественный сервис', 'СМС оповещение об изменении статуса Вашего заказа. Бесплатные звонки на номер 8800')
        +b-benefit('icon5', 'Грамотное качество', 'Питерское производство на ИТАЛЬЯНСКОМ оборудовании из ТУРЕЦКОЙ ткани')
        +b-benefit('icon6', 'Подарочная упаковка', 'Носки аккуратно разложены в КРАСИВОМ кейсе и имеют ПОДАРОЧНЫЙ вид')
        
  //-/////////////////////////////////////////////////

  section.l-certificates
    .b-certificates
      h2.b-certificates__heading.b-heading Производство носков в санкт-петербурге<br/> на итальянском оборудовании
      p.b-certificates__lead Мы работаем напрямую с производителем и имеем<br/> лучшую цену и превосходное качество
      .b-certificates__list.js-certificates
        +b-certificate('1')
        +b-certificate('2')
        +b-certificate('3')

      
      button.b-certificates__btn.b-btn.-lg.js-popup(data-mfp-src="#js-contactForm") Выбери свой кейс
      
  //-/////////////////////////////////////////////////
  
  section.l-about
    .b-about
      ul.b-about__list
        +b-aboutItem('eco', 'Экологически чистый материал', '15-20м. в месяц - рост бамбука без химических удобрений. ЭКОЛОГИЧЕСКИ ЧИСТЫЙ МАТЕРИАЛ')
        +b-aboutItem('wave', 'Впитывает влагу в 4 раза лучше', 'В 4 раза лучше впитывает влагу, чем хлопок. ВСЕГДА СУХИЕ НОСКИ - комфорт ногам.')
        +b-aboutItem('leaf', 'Носки и ноги не пахнут', '24 ЧАСА в свежих носках! Естественная терморегуляция кожи. Летом прохладно, зимой тепло.')
        +b-aboutItem('mushroom', 'Безопасность от грибка', '0% грибка. Антибактериальный и антиаллергенный эффект.')
        +b-aboutItem('silk', 'Приятный как шелк', 'Бамбук, он как шелк, только бамбук. Мягкое и шелковистое. Ваши ноги скажут СПАСИБО!')
        +b-aboutItem('clock', 'Служат в 3 раза дольше обычных', '20% полиамида увеличивают прочность в 3 раза.')
        +b-aboutItem('palette', 'Сохраняют форму и цвет', '30 И БОЛЕЕ СТИРОК, а ваши носки, как новые. Легко стираются и быстро сохнут.')

  //-/////////////////////////////////////////////////
        
  section.l-gift
    .b-gift
      h2.b-gift__heading.b-heading.-line Подарок
      p.b-gift__lead Купить кейс носков с 20% скидкой и подарком - ковбойским портмоне
      .b-gift__form.b-giftLead
        p.b-giftLead__description Наши менеджеры перезвонят Вам в течении 10 минут и ответят на все Ваши вопросы
        form.b-giftLead__form.b-giftForm.js-form
          input.b-giftForm__input(type="text", name="name", placeholder="Ваше имя", required="required")
          input.b-giftForm__input(type="text", name="phone", placeholder="Ваш телефон", required="required")
          input.b-giftForm__btn.b-btn.-small(type="submit", value="Отправить заявку")
          
      .b-gift__list
        .b-gift__item.-person 
          | Быстрая доставка курьером<br/> по СПБ в день заказа
        .b-gift__item.-box
          | Доставка по москве<br/> на следующий день
        .b-gift__item.-car
          | Доставка по россии<br/> 1-7 дней после заказа
                
  //-/////////////////////////////////////////////////
  
  section.l-catalog
    .b-catalog
      h2.b-catalog__heading.b-heading.-line Бамбуковые носки
      p.b-catalog__lead Только сейчас! Акция на кейсы носков с 20% СКИДКОЙ. Успейте купить!
      .b-catalog__list
        +b-catalogItem({
          'title': 'НОСКИ “МИНИ” 10 ПАР',
          'description': 'Запас носков на 5-6 месяцев',
          'image': 'box',
          'material': '80% бамбук, 20% полиамида',
          'oldPrice': '1990',
          'price': '1490',
          'oneItemPrice': '149',
          'gift': 'Сетка для стирки носков',
          'giftImage': 'grid'
        })
        +b-catalogItem({
          'title': 'НОСКИ “ОПТИМА” 20 ПАР',
          'description': 'Запас носков на 10-12 месяцев',
          'image': 'box',
          'material': '80% бамбук, 20% полиамида',
          'oldPrice': '2590',
          'price': '2090',
          'oneItemPrice': '104',
          'gift': 'Сетка для стирки носков',
          'giftImage': 'grid'
        })
        +b-catalogItem({
          'title': 'НОСКИ “ПРЕМИУМ” 30 ПАР',
          'description': 'Запас носков на 1,5-2 года',
          'image': 'box',
          'offer': 'offer',
          'material': '80% бамбук, 20% полиамида',
          'oldPrice': '3190',
          'price': '2690',
          'oneItemPrice': '89',
          'gift': 'Портмоне Billy',
          'giftImage': 'purse'
        })

  //-/////////////////////////////////////////////////    
  
  section.l-howWeWork
    .b-howWeWork
      h2.b-howWeWork__heading.b-heading.-line Как мы работаем
      p.b-howWeWork__lead НЕ ДАДИМ ПОТЕРЯТЬСЯ В 3 СОСНАХ
      
      .b-howWeWork__listContainer
        ul.b-howWeWork__list
          li.b-howWeWork__item.-pen
            | ОСТАВЛЯЕТЕ ИМЯ И ТЕЛЕФОН НА САЙТЕ
            button.b-howWeWork__btn.b-btn.-small.js-popup(data-mfp-src="#js-contactForm") Оставить заявку
            
          li.b-howWeWork__item.-clock 
            | НАШ МЕНЕДЖЕР СВЯЖЕТСЯ С ВАМИ В ТЕЧЕНИИ 10 МИНУТ
          li.b-howWeWork__item.-list 
            | МЕНЕДЖЕР СОГЛАСОВЫВАЕТ С ВАМИ ДЕТАЛИ ДОСТАВКИ
          li.b-howWeWork__item.-car 
            | ПРИЕЗЖАЕТ НАШ КУРЬЕР<br/> С ВАШИМ ЗАКАЗОМ
            
        ul.b-howWeWork__list.-end
          li.b-howWeWork__item.-thumb 
            | ЕСЛИ ВСЕ НРАВИТСЯ - ЗАБИРАЕТЕ ЗАКАЗ
          li.b-howWeWork__item.-smile 
            | ВЛЮБЛЯЕТЕСЬ<br/> В НОСОЧКИ
      

  //-/////////////////////////////////////////////////    

  section.l-reviews  
    .b-reviews
      h2.b-reviews__heading.b-heading Счастливые клиенты
      .js-reviews
        ul.b-reviews__list
        
          li.b-reviews__item.b-review
            .b-review__imageContainer
              img.b-review__image(src="images/pers1.jpg", alt="")
            span.b-review__name Вероника Анатольевна
            p.b-review__content 
              | Купила кейс носков мужу в подарок. Сами носки очень мягкие, эластичные. Пока не стирала, не знаю, как себя поведут после стирки. 
              | Мужу очень понравилось, говорит, ходить в них удобно.
            ul.b-review__infoList
              li.b-review__infoItem.-person 25 лет
              li.b-review__infoItem.-location Москва
        
          li.b-reviews__item.b-review
            .b-review__imageContainer
              img.b-review__image(src="images/pers2.jpg", alt="")
            span.b-review__name Евдоким Кулагин
            p.b-review__content 
              | Купил себе носки, кейс на 30 носков. Очень удобно, не надо постоянно стирать носки и все одинаковые, классно!
            ul.b-review__infoList
              li.b-review__infoItem.-person 22 года
              li.b-review__infoItem.-location Санкт-Петербург
              
          li.b-reviews__item.b-review
            .b-review__imageContainer
              img.b-review__image(src="images/pers3.jpg", alt="")
            span.b-review__name Анастасия Колбукова
            p.b-review__content 
              | Доставили кейс носков. Живу в Краснодаре. Привезли за 5 дней. Очень красивая коробочка.
              | Носки удобные, мягкие, сшиты великолепно. Половину носков у мужа сразу выбросила.
            ul.b-review__infoList
              li.b-review__infoItem.-person 31 год
              li.b-review__infoItem.-location Краснодар   
              
          li.b-reviews__item.b-review
            .b-review__imageContainer
              img.b-review__image(src="images/pers4.jpg", alt="")
            span.b-review__name Алексей Сафонов
            p.b-review__content 
              | Очень приятное качество носков, ходить в них милое дело. Доставили за два дня в Москву, привезли курьером на дом. 
              | Красивая коробка, в следующий раз закажу для подарка. 
            ul.b-review__infoList
              li.b-review__infoItem.-person 45 лет
              li.b-review__infoItem.-location Москва   
              
            
        a.js-reviews__ctrlPrev(href="#"): i.b-icon.-prev
        a.js-reviews__ctrlNext(href="#"): i.b-icon.-next
        ul.js-reviews__pagination
        
              
        
  //-/////////////////////////////////////////////////    
  
  section.l-map
    div#map_canvas(style="height:470px;")
    
  //-/////////////////////////////////////////////////    
  
  section.l-offer
    .b-offer
      .b-offer__left
        .b-contacts
          span.b-contacts__adress Россия, г. Санкт-Петербург,<br/> ул. Коли Томчака, 28
          span.b-contacts__phone.b-phone.-smallIcon 8 (800) 333-09-76
          ul.b-contacts__inn 
            li.b-contacts__item Индивидуальный предприниматель
            li.b-contacts__item Цветкова Эмилия Сергеевна
            li.b-contacts__item ИНН 780534661159
            li.b-contacts__item ОГНИП 311784728000266
          
      .b-offer__right
        .b-offerMain
          .b-offerMain__description
            | Оставь заявку сейчас на кейс носков с 20% скидкой<br/> и получи  портмоне Billy в подарок!
          .b-offerMain__form
            form.b-offerForm.js-form
              input.b-offerForm__input(type="text", name="name", placeholder="Вашe имя", required="required")
              input.b-offerForm__input(type="text", name="phone", placeholder="Ваш телефон", required="required")
              input.b-offerForm__btn.b-btn.-small.-fullWidth(type="submit", value="Отправить заявку")
            
  //-/////////////////////////////////////////////////   
  
  footer.l-footer
    .b-footer
      .b-footer__copyright
        | Copyright (c) NOSKOV.NET.RU, 2015
      .b-footer__policy
        a.b-footer__link(href="#") Политика конфиденциальности
        
block script
  script
    :uglify-js
      var brooklyn = new google.maps.LatLng(59.885723, 30.325463);
     
      var stylez = [
        {
          featureType: "all",
          elementType: "all",
          stylers: [
          { saturation: -100 } // <-- THIS
          ]
        }
      ];
     
      var mapOptions = {
        zoom: 16,
        center: brooklyn,
        mapTypeControl: false,
        scrollwheel: false,
        navigationControl: false,
        scaleControl: false,
      };
     
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
     
      var mapType = new google.maps.StyledMapType(stylez, { name:"Grayscale" });
      map.mapTypes.set('tehgrayz', mapType);
      map.setMapTypeId('tehgrayz');
     
        marker = new google.maps.Marker({
            map:map,
            draggable:true,
            position: brooklyn,
            title: "Мы находимся тут!"
        });
        google.maps.event.addListener(marker, 'click', toggleBounce);
      
  //- script
  //-   :coffee-script
  //-     $ ->
  //-       $.pixlayout({ src: "dev/index.png", show: true, center: false, left: -6, top: -2 })
