{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Socks{% endblock %}</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="css/style.css">
  {% block head %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="javascripts/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->


</head>
<body id="main">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block content %}{% endblock %}

  <script src="javascripts/main.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
