#contact-form-div
  transition: all 0.4s ease;

.lead-complete
  padding 40px
  font-weight bold
  font-size 16px
  line-height 28px
  color #439C3D

.modal-form
  padding-bottom 20px

.white-popup
  text-align center
  border: 5px solid rgba(0, 0, 0, .8)


.white-popup fieldset
  padding:0;
  border:0;
  font-size:1.2em;
  margin:40px 0 10px;
  text-align:center;

.white-popup label,
.white-popup input[type='text'],
.white-popup input[type='tel']
  text-align:left;
  display:block;
  margin-top:5px;
  margin 0 auto 30px
  padding:0.5em;
  border 1px solid #dfdfdf
  width 70%
  font-size em(20px)


.white-popup.ui-dialog .ui-state-error
  padding:0.3em;
.white-popup
  position:relative;
  background:#FFF;
  width:auto;
  max-width:600px;
  margin:20px auto;
  text-align:center;
  &__text
    text-transform uppercase
    font-weight bold
    font-size em(30px)
