mixin section(name, config)
  section(class='#{name}')
    div(class='#{name}__container')
      h2= config.title
      if block
        block
      else
        p No content provided

mixin b-benefit(icon, title, description)
  .b-benefits__item.b-benefit(class="-#{icon}")
    h3.b-benefit__heading #{title}
    p.b-benefit__description 
      | #{description}

mixin b-certificate(image)
  .b-certificates__item.b-certificate
    a.b-certificate__link(href="images/certificates/big/#{image}.jpg")
      img.b-certificate__image(src="images/certificates/#{image}.jpg" width="200px")

mixin b-aboutItem(icon, title, description)
  li.b-about__item(class="-#{icon}")
    h3.b-about__title #{title}
    p.b-about__description #{description}
    //- span.b-about__icon(class="-#{icon}")
    //- .b-about__content
    
mixin b-catalogItem(content)
  .b-catalog__item.b-product
    h4.b-product__title #{content.title}
      span.b-product__description #{content.description}
    .b-product__imageContainer(class="#{content.offer ? '-offer' : '' }")
      img.b-product__image(src='images/#{content.image}.png')
    .b-product__material #{content.material}
    .b-product__priceContainer
      .b-product__priceFull <span class="b-product__oldPrice">#{content.oldPrice} руб.</span> #{content.price} руб.
      .b-product__priceOneItem #{content.oneItemPrice} руб. - 1 носок
    .b-product__giftContainer(class="-#{content.giftImage}")
      | <strong>ПОДАРОК</strong><br/>
      | #{content.gift}
    button.b-product__btn.b-btn.-small.js-popup(data-mfp-src="#js-contactForm") Купить со скидкой
